doctype html
html
  head
    title Vish Dance Academy
    block scripts 
    block style 

body
  nav#navbar 
        ul  
        div#logo 
            img(src="/static/img/logo.png")
            | VDA
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Classinfo]
        li #[a(href="/contact") Contact]
        
  block content
  footer#footer 
        | Copyright Ⓒ 2020-2021 VishDanceAcademy.com | All rights reserved